<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <%- include("../includes/navigation.ejs") %>
            <main>

                <div class="box">
                    <form class="form" action="/login" method="post">
                        <h2>Sign In</h2>
                        <% if (errorMessage){%>
                            <div class="user-message user-message--error">
                                <%=errorMessage%>
                            </div>
                            <%}%>
                                <% if (successMessage){%>
                                    <div class="user-message user-message--success">
                                        <%=successMessage%>
                                    </div>
                                    <%}%>
                                        <div class="inputBox">
                                            <input type="text" name="email" required>
                                            <span>Email</span>
                                            <i></i>
                                        </div>
                                        <div class="inputBox">
                                            <input type="password" name="password" id="password" required>
                                            <span>Password</span>
                                            <i></i>
                                        </div>
                                        <div class="links">
                                            <a href="#">Forget Password</a>
                                            <a href="signup">SignUp</a>
                                        </div>
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">

                                        <input type="submit" value="Login">
                    </form>
                </div>
            </main>
            <%- include("../includes/end.ejs")%>