<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    </head>

    <body>
        <%- include("../includes/navigation.ejs") %>
            <main>
                <div class="signup-box box">
                    <form class="form" action="/signup" method="post">
                        <h2>Sign Up</h2>
                        <% if (errorMessage){%>
                            <div class="user-message user-message--error">
                                <%=errorMessage%>
                            </div>
                            <%}%>
                                <div class="inputBox">
                                    <input type="text" name="email" required>
                                    <span>Email</span>
                                    <i></i>
                                </div>
                                <div class="inputBox">
                                    <input type="password" name="password" id="password" required>
                                    <span>Password</span>
                                    <i></i>
                                </div>
                                <div class="inputBox">
                                    <input type="password" name="confirm_password" id="password" required>
                                    <span>Confirm Password</span>
                                    <i></i>
                                </div>
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>">

                                <div class="links">
                                    <a href="#">Register to enjoy</a>
                                    <a href="/login">Login</a>
                                </div>
                                <input type="submit" value="SignUp">
                    </form>
                </div>
            </main>
            <%- include("../includes/end.ejs")%>