<%- include("../includes/head.ejs") %>
  <link rel="stylesheet" href="/css/forms.css">

  </head>

  <body>
    <%- include("../includes/navigation.ejs") %>

      <form class="product-form" action="/admin/<% if (editing) {%>edit-product<%}else{%>add-product<%}%>"
        method="POST">
        <h2>
          <%= (editing)? 'Update Product' : 'Add Product' %>
        </h2>
        <%if(errorMessage){%>
          <div class="error-message">
            <%= errorMessage %>
          </div>
          <%}%>
            <div class="form-control">
              <label class="<%= invalidField==='title'?'invalid':''%>" for="title">Title</label>
              <input type="text" name="title" id="title"
                value="<% if (editing){%> <%=product.title%><%}else{%> <%= product.title%><%}%>" />
              <label for="descrption">Description</label>
              <textarea name="description"
                rows="5"><% if (editing){%><%=product.description%><%}else{%> <%= product.description%><%}%></textarea>
              <label for="price">Price</label>
              <input type="number" name="price"
                value="<% if (editing){%><%=product.price%><%}else{%><%=product.price%><%}%>" />
              <label for="imageUrl">Image Url</label>
              <input type="url" name="imageUrl"
                value="<% if (editing){%><%=product.imageUrl%> <%}else{%><%= product.imageUrl%><%}%>" />
            </div>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">

            <% if (editing) {%>
              <input type="hidden" name="productId" value="<%= product._id%>">
              <%}%>
                <button class="btn" type="submit">
                  <% if (editing){%> Update Procuct <%} else {%>Add Product<%}%>
                </button>
      </form>
      <%- include("../includes/end.ejs")%>