<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="">

    </head>

    <body>
        <%-include("../includes/navigation.ejs")%>
            <main>
                <% if(products.length>0){%>
                    <ul>
                        <% products.forEach(prod=>{%>
                            <li>
                                <h1><%= prod.title%></h1>
                                <h2><%=prod.cartitem.qty%></h2>
                                <form action="/cart-delete-item" method="post">
                                    <input type="hidden" value="<%= prod.productData.productId%>" name="productId">
                                    <button class="btn" type="submit">Delete</button>
                                    
                                </form>
                            </li>
                            <%})%>
                    </ul>

                <% }else{%>
                        <h1>No products available in the cart </h1>
                <%}%>

            </main>

            <%- include("../includes/end.ejs")%>